body {
  background-color: #103ab0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

title {
  font-family: Poppins;
  font-weight: bold;
}
.BigAdd {
  max-width: 765px;
  min-width: 450px;
  height: auto;
  min-height: 656px;
  top: 197px;
  background: #f1f5f8;
  background-image: linear-gradient(
    64.84deg,
    #0b2c86 30.18%,
    #2455d5 100.77%,
    #ffffff 119.92%
  );
  box-shadow: 0 2px 5px #ccc;
  border-radius: 40px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 200px;
}

.MedAdd {
  max-width: 335px;
  min-width: 335px;
  height: auto;
  min-height: 556px;
  top: 197px;
  background: #2455d5;

  box-shadow: 0 2px 5px #ccc;
  border-radius: 40px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  padding: 25px 15px;
  margin-bottom: 50px;
  margin-top: 200px;
}

h2 {
  color: #ffff;
  font-family: Poppins;
  text-align: left;
}

.dot {
  clear: both;
  display: inline-block;

  white-space: nowrap;
  font-size: 10rem;
  color: #ffc758;
  font-weight: bold;
}

.body2 {
  color: #513fab;
  font-family: Poppins;
  font-size: 10rem;
}

.content-wrapper {
  width: 90%;
  margin: 1% 10% 5% 10%;
}
.content-wrapper img {
  width: 50%;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -1%;
  margin-left: -67%;
}

.text-wrapper h1 {
  text-align: right;
  font-family: Kalam;
  font-weight: 900;
  font-size: 36px;
  color: #ffc758;
  -webkit-text-stroke: 1px black;
}

/* Background */

/* position: absolute;
width: 762px;
height: 556px;
left: 138px;
top: 197px;

background: linear-gradient(
  64.84deg,
  #0b2c86 30.18%,
  #2455d5 100.77%,
  #ffffff 119.92%
); */
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px; */

/* Group 2 */

/* position: absolute;
width: 287px;
height: 179px;



/* dripWinni 1 */
/* 
position: absolute;
width: 154px;
height: 179px;

background: url(dripWinni.png); */

/* HoneyDrip */

/* width: 168px;
height: 43px;

font-family: Kalam;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 57px; */
