html {
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  background-color: #fff;
  margin: 0;
  align-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

title {
  font-family: Poppins;
  font-weight: bold;
}
.BigAdd {
  max-width: 765px;
  min-width: 450px;
  height: auto;
  min-height: 815px;
  top: 190px;
  background: #f1f5f8;
  background-image: linear-gradient(
    64.84deg,
    #0b2c86 30.18%,
    #2455d5 100.77%,
    #ffffff 119.92%
  );
  box-shadow: 0 2px 5px #ccc;
  border-radius: 40px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 200px;
}

.shadow {
  box-shadow: 4px 3px 7px 2px #00000040;
}

.MedAdd {
  max-width: 335px;
  min-width: 335px;
  height: auto;
  min-height: 556px;
  top: 190px;
  background: #2455d5;

  box-shadow: 0 2px 5px #ccc;
  border-radius: 40px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
  padding: 25px 15px;
  margin-bottom: 50px;
  margin-top: 200px;
}

h2 {
  color: #ffff;
  font-family: Poppins;
  text-align: left;
}

.dot {
  clear: both;
  display: inline-block;

  white-space: nowrap;
  font-size: 10rem;
  color: #ffc758;
  font-weight: bold;
}

.body2 {
  color: #513fab;
  font-family: Poppins;
  font-size: 10rem;
}

.content-wrapper {
  width: 90%;
  margin: 1% 10% 5% 10%;
}
.content-wrapper img {
  width: 50%;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -1%;
  margin-left: -67%;
}

.text-wrapper h1 {
  text-align: right;
  font-family: Kalam;
  font-weight: 900;
  font-size: 33px;
  color: #ffc758;
  -webkit-text-stroke: 1px black;
}

/*middlepage*/

.pic {
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  min-height: 300px;
}

/* Strawnana Delta 8 */
.Header {
  width: 681px;
  height: 104px;
  left: 627px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 89px;
  line-height: 104px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffff;
}

.roundBox {
  background-color: #fff;
  border-radius: 50px;
}

/*Card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  min-height: 500px;
  min-width: 480px;
  border-radius: 30px;
  background-color: #ffc758;
  padding: 7;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 26px;
}

.adjustImg {
  max-width: 100%;
  min-width: 400px;
  height: auto;
  display: flex;
  justify-content: left;
}

.column1 {
  float: left;
  width: 41%;
  padding: 5px;

  flex-direction: column;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.Hero {
  visibility: hidden;
}
/* Shop  ************************** */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vw;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #ffc758;
}

header {
  grid-area: header;
  background-color: #f4f6f7;
  border: 1px solid #c6c4c4;
  color: #7f8387;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #7f8387;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #2455d5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  height: 17rem;
  padding: 3rem;
}

.product {
  display: flex;
  max-width: 60%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  padding-top: 2rem;
  max-width: 20rem;
  max-height: 10rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  /* text-align: center; */
  flex: 1;
  /* background-color: blueviolet; */
}

.product-price div {
  font-size: 1.4rem;
  font-family: Poppins;
  font-style: Roboto;
  color: #333333;
  font-style: thin;
}

.product-title {
}
/** Filter */
.filter {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  justify-content: space-between;
}
.fiter div {
  flex: 1;
}

/* EFFEX DIESEL PREMIUM DELTA 8 THC INFUSED HEMP FLOWER */

/* position: absolute;
width: 323px;
height: 11px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.03em;

color: #020202; */
